*{
    margin: 0;
    padding: 0;
}
.menu-izquierda {
    background: coral;
    width: 100%;
    height: 200px;
}

.menu-izquierda img{
    background: coral;
    width: 100%;
    height: 200px;
}
.texto-menu-izquierda{

}